<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>权限管理</title>
      {% load staticfiles %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <!--<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap-theme.min.css">-->
    <!--[if lt IE 9]><!--<script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script>--><![endif]-->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>-->
    <script >
          $.ajaxSetup({
             data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
          });
     </script>
    <![endif]-->
<style>
.bs-docs-home
{
    background-color: #ffffff;
    background-image: url(line.png);
}
table {

}
.authorityTd {
    text-align: center;
}
.authorityTh {
    text-align: center;
}
.subBut {
    margin-left: 20px;
}
.authoritySpan {
    margin-right: 8px;
}
</style>
</head>
<body class="bs-docs-home" style="height:100%">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--<div class="container theme-showcase">-->
    <div style="height:95%;overflow-y:auto">
        <h1 style=" line-height:2em;"></h1><br/>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2><strong>权限管理</strong></h2>
                          <p>{{ userid  }}{{  isactive }}</p>
                    </div>
                    <div class="panel-body">

                        <div class="table-responsive">
                            <table id="author_manage" style="height:40px;" border="0" cellspacing="0" cellpadding="0" class="table"></table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
        <script >
          $.ajaxSetup({
             data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
          });
           var back_data = {{ d_users|safe }};
     </script>
<script src="{% static 'js/am_permissions_management.js' %}"></script>

</body>
</html>