<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>权限管理</title>
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap-theme.min.css">
<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

<![endif]-->
<style>
.bs-docs-home
{ 
    background-color: #ffffff; 
    background-image: url(line.png); 
} 
table {

}
.authorityTd {
    text-align: center;
}
.authorityTh {
    text-align: center;
}
.subBut {
    margin-left: 20px;
}
.authoritySpan {
    margin-right: 8px;
}
</style>
</head>
<body class="bs-docs-home">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div class="container theme-showcase">
        <h1 style=" line-height:2em;"></h1><br/>
        <div class="row">
            <div class="col-sm-3"></div> 
            <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>权限管理</strong></h3>
                </div>
                <div class="panel-body"> 
                    


                    <div class="table-responsive">
                        <table border="0" cellspacing="0" cellpadding="0" class="table">
                        <tr class=" label-primary">
                
                            <th scope="col" width="15%"><span style="color:white">账号</span></th>
                            <th scope="col" width="15%"><span style="color:white">联系人</span></th>
                            <th scope="col" width="20%"><span style="color:white">已有权限</span></th>
                            <th scope="col" width="10%"><span style="color:white">状态</span></th>
                            <th scope="col" class ="authorityTh"><span class="authoritySpan" style="color:white">修改权限</span></th>
                        </tr>
                        </table>
                    </div> 

                    <!--<div class="form-group">-->

                        <!--<input class="form-control btn btn-primary" id="submit" value="确&nbsp;&nbsp;认&nbsp;&nbsp;修&nbsp;&nbsp;改" type="button" onclick="_check()"/>-->
                    <!--</div>-->

                </div> 
            </div> 
            </div> 
            <div class="col-sm-3"></div> 
        </div>
    </div> 
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/js/bootstrap.min.js"></script>
<script type="text/javascript">

     var back_data = {{ d_users|safe }};
    /*删除*/
    /*dataArray为请求返回的数据*/

    /*删除*/



    // var dataArray = new Array()

    // background_data为后台数据
    // dataArray.push(background_data);
    
    
    /*判断是否有搜索条件，根据搜索条件去渲染表格*/
window.onload=function(){
            $(".data").remove();
            //for(var i = 0, len =  back_data.length; i < len; i++){
            for(var i in back_data){
                var html = '<tr class="data"><td>' + back_data[i]['id'] + '</td><td>' +  back_data[i]['username'] + '</td><td>' +  back_data[i]['user_permissions'] + '</td>'
                + '<td><select id="status' + i + '" class ="status"><option id="openSta' + i + '" value="启用">启用</option><option id="closeSta' + i + '" value="禁用">禁用</option></select></td><td class="authorityTd"><p>'
                + '违建管理' + '<input class="authorityList' + i +'" type="checkbox" name=names[i] value="违建管理" /></p><p>'
                + '拆迁管理' + '<input class="authorityList' + i +'" type="checkbox" name=names[i] value="拆迁管理" /></p><p>'
                + '沉降管理' + '<input class="authorityList' + i +'" type="checkbox" name=names[i] value="沉降管理" /></p><p>'
                + '其他&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp' + '<input class="authorityList' + i +'" type="checkbox" name=names[i] value="其他" /></p><p>'
                + '<button type="button" id="subBut' + i + '" class="btn btn-primary subBut">确认</button>&nbsp&nbsp&nbsp&nbsp&nbsp'
                + '</p></td></tr>';
                $(".table").append(html);
                var isActive = back_data[i]['is_active'],
                    statusSel = $("#status" + i),
                    authList = $(".authorityList" + i);
                //for(var j = 0; j < statusSel[0].options.length; j++){
                    if(isActive){
                        statusSel[0].options[0].selected = true;
                    } else {
                        statusSel[0].options[1].selected = true;
                    }
                //}
                var selectedVal = statusSel.children('option:selected').val();
                if (selectedVal === "禁用") {
                    $("#subBut" + i).attr("disabled",true);
                    authList.each(function(index, val){
                        $(val).attr("disabled",true);
                    });
                } else {
                    $("#subBut" + i).removeAttr("disabled");
                    authList.each(function(index, val){
                        $(val).removeAttr("disabled");
                    });
                }
                var idNum = parseInt(statusSel[0].id.slice(6,7));
                statusSel.on("change", {"num":idNum}, _updateList);
                $("#IDCard").val('').focus()
            }

}

    // function _check(){

    //     for(var i = 0, len =  background_data.length; i < len; i++){
    //         var obj = document.getElementsByName(names[i]);
    //         var k = obj.length;
    //         for(var j = 0; j < k; j++){
    //             if (background_data[i].authority != obj[j].value) {
    //                 alert('确认修改？');
    //                 alert(document.getElementsByName(names[i]));
    //                 return   // 若有修改无序再循环
    //             }  
    //         }
                      
    //     }
    // }
function _updateList(data){
        var num = data.data.num,
            selectedVal1 = $("#status" + num).children('option:selected').val(),
            authList1 = $(".authorityList" + num);
        if (selectedVal1 === "禁用"){
            $("#subBut" + num).attr("disabled",true);
            authList1.each(function(index, val){
                $(val).attr("disabled",true);
            });
        } else {
            $("#subBut" + num).removeAttr("disabled");
            authList1.each(function(index, val){
                $(val).removeAttr("disabled");
            });
        }
    }

    function _check(){

        for(var i = 0, len =  background_data.length; i < len; i++){
            var obj = document.getElementsByName(names[i]);
            var k = obj.length;
            var check_val = [];
            while(1){
                for(var j = 0; j < k; j++){
                    //获取用户选择权限
                    if (background_data[i].authority != obj[j].value) {

                        check_val.push(obj[j].value);
                    }
                }
                //判断是否更新权限
                if (background_data[i].authority != check_val){
                    background_data[i].authority = check_val;
                    break;
                }
                else{
                    break;
                }

            }

        }
    }


</script>
<script>
$(document).ready(function(){
  $("button").click(function(){
  $.ajax({
    type:'post',
    url:'permission_revise',
    data:,
    dataType:'json',
    success:function(data){
    }
  });
  });
  });
</script>
</body>
</html>