<!DOCTYPE html>
<html lang="en">
<head>

    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>首页</title>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

    <![endif]-->
    <style>
        .left-list-container {
            padding-left:5px;
        }
        .left-h5 {
            padding-top:2px
        }
        .date-span {
            float: right;
            padding-right: 10px;
        }
        .search-span {
            line-height:-moz-block-height;
            padding-left:5px;
        }
        .search-input {
            width: 132px;
        }
        .home-div h5{
            font-size: 15px;
            color: #3b664c;
        }
    </style>
</head>
<body>
    <div class="container theme-showcase home-div" style="width:970px">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel-body" style="overflow-x:auto">
                    <div class="homeTop" style="margin-top:10px; padding-left:20px">
                        <form role="form" name="homeForm" action="" method="post">
                            <h5 style="display:inline">信息检索</h5>
                            <p style="display:inline-flex">
                                <span class="search-span">名称：</span>
                                <input type="text" name="name" class="form-control search-input" placeholder="请输入名称" />
                                <span class="search-span">类型：</span>
                                <input type="text" name="type" class="form-control search-input" placeholder="" />
                                <span class="search-span">时间：</span>
                                <input type='date' class="form-control" style="width:auto" id='nowdate'/>
                                <span class="search-span">地址：</span>
                                <input type="text" name="address" class="form-control search-input" placeholder="请输入地址" />
                                <span class="input-group-btn" style="padding-left:7px">
                                    <button  type="submit" class="btn btn-primary">搜索</button>
                                </span>
                            </p>
                        </form>
                    </div>
                    <div class="homeLeft" style="float:left; width:27%; margin-top:10px">
                        <div>
                            <nav class="navbar-default navbar-side " role="navigation">
                                <div class="left-list-container left-h5">
                                    <h5>最新违建事件</h5>
                                </div>
                                <div class="sidebar-collapse left-list-container">
                                    <ul class="nav" id="home-top-menu">
                                        <li>
                                            <p>
                                                <span class="glyphicon glyphicon-calendar" style="color:#337ab7"></span>
                                                <a id="home" class="" style="padding-left:5px"><i class=""></i>CADA使用通知</a>
                                                <span class="date-span"></span>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                <span class="glyphicon glyphicon-calendar" style="color:#337ab7"></span>
                                                <a id="home" class="" style="padding-left:5px"><i class=""></i>CADA使用通知</a>
                                                <span class="date-span"></span>
                                            </p>
                                        </li>

                                         <li>
                                             <p>
                                                 <span class="glyphicon glyphicon-calendar" style="color:#337ab7"></span>
                                                 <a id="home" class="" style="padding-left:5px"><i class=""></i>CADA使用通知</a>
                                                 <span class="date-span"></span>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                <span class="glyphicon glyphicon-calendar" style="color:#337ab7"></span>
                                                <a id="home" class="" style="padding-left:5px"><i class=""></i>CADA使用通知</a>
                                                <span class="date-span"></span>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                <span class="glyphicon glyphicon-calendar" style="color:#337ab7"></span>
                                                <a id="home" class="" style="padding-left:5px"><i class=""></i>CADA使用通知</a>
                                                <span class="date-span"></span>
                                            </p>
                                        </li>

                                         <li>
                                             <p>
                                                 <span class="glyphicon glyphicon-calendar" style="color:#337ab7"></span>
                                                 <a id="home" class="" style="padding-left:5px"><i class=""></i>CADA使用通知</a>
                                                 <span class="date-span"></span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div style="padding-top:10px">
                            <nav class="navbar-default navbar-side " role="navigation">
                                <div class="left-list-container left-h5">
                                    <h5>最新拆迁区域变化</h5>
                                </div>
                                <div class="sidebar-collapse left-list-container">
                                    <ul class="nav" id="home-top-menu">
                                        <li>
                                            <p>
                                                <span class="glyphicon glyphicon-map-marker" style="color:#337ab7"></span>
                                                <a id="home" class="" style="padding-left:5px"><i class=""></i>CADA使用通知</a>
                                                <span class="date-span"></span>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                <span class="glyphicon glyphicon-map-marker" style="color:#337ab7"></span>
                                                <a id="home" class="" style="padding-left:5px"><i class=""></i>CADA使用通知</a>
                                                <span class="date-span"></span>
                                            </p>
                                        </li>

                                         <li>
                                             <p>
                                                 <span class="glyphicon glyphicon-map-marker" style="color:#337ab7"></span>
                                                 <a id="home" class="" style="padding-left:5px"><i class=""></i>CADA使用通知</a>
                                                 <span class="date-span"></span>
                                            </p>
                                        <li>
                                            <p>
                                                <span class="glyphicon glyphicon-map-marker" style="color:#337ab7"></span>
                                                <a id="home" class="" style="padding-left:5px"><i class=""></i>CADA使用通知</a>
                                                <span class="date-span"></span>
                                            </p>
                                        </li>

                                        <li>
                                            <p>
                                                <span class="glyphicon glyphicon-map-marker" style="color:#337ab7"></span>
                                                <a id="home" class="" style="padding-left:5px"><i class=""></i>CADA使用通知</a>
                                                <span class="date-span"></span>
                                            </p>
                                        </li>

                                         <li>
                                             <p>
                                                 <span class="glyphicon glyphicon-map-marker" style="color:#337ab7"></span>
                                                 <a id="home" class="" style="padding-left:5px"><i class=""></i>CADA使用通知</a>
                                                 <span class="date-span"></span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>

                    </div>
                    <div class="homeRight" style="float:left; width:70%; margin-top:10px; padding-left:10px">
                        <video src="/i/movie.ogg" controls="controls">

                        </video>
                    </div>
                </div>
            </div>
            <div class="col-xs-0"></div>
        </div>
    </div>
    <script>
    window.onload=function(){
        //默认获取当前日期
        var today = new Date();
        var nowdate = (today.getFullYear()) + "-" + (today.getMonth() + 1) + "-" + today.getDate();
        //对日期格式进行处理
        var date = new Date(nowdate);
        var mon = date.getMonth() + 1;
        var day = date.getDate();
        var mydate = date.getFullYear() + "-" + (mon < 10 ? "0" + mon : mon) + "-" + (day < 10 ? "0" + day : day);
        $("#nowdate").val(mydate);
        $(".date-span").html(mydate);
    };
    </script>
</body>
</html>