<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Keywords" content="天津未来科技城卫星遥感资源管理系统"/>
    <title>home</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'css/bootstrap.css'  %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'css/font-awesome.css'  %}" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="{% static 'css/basic.css' %}" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <script src="{% static 'js/common.js' %}"></script>
    <style>
        #container{
	        background: #001234;
	        text-align:center;
	        line-height:80px;
        }
</style>
</head>

<body>
    <div id="wrapper">
        <div id="container">
		    <img src="u3.png" alt="iotek">
		    <font size="6"><b>天津未来科技城卫星遥感资源管理系统</b></font>
	    </div>
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">遥感图像处理平台</a>
            </div>

            <div class="header-right">
				<a href="../cpts_645_bhc/login.html" class="btn btn-primary" title="Logout"><em class="glyphicon glyphicon-search"></em>搜索</a>
				<a href="/logout/" class="btn btn-warning dropdown-toggle" title="Logout"><em class="glyphicon glyphicon-home"></em>登出</a>
				<a href="/login/" class="btn btn-danger" title="Logout"><em class="glyphicon glyphicon-plus"></em>登录</a>
				<div class="btn-group">
                                        <button class="btn btn-success">更多</button>
                                        <button data-toggle="dropdown" class="btn btn-success dropdown-toggle"><span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">123</a></li>
                                            <li><a href="#">456</a></li>
                                            <li><a href="#">789</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
			</div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side " role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a id="home" class="active-menu" href="javascript:void(0)" onclick="open_link('/home/');" ><i class="fa fa-dashboard "></i>首页</a>
                    </li>

                    <li><a href="#"><i class="fa fa-desktop "></i>影像处理<span class="fa arrow"></span></a>
                      <ul class="nav nav-second-level">
                            <li>
                              <a href="javascript:void(0)" onclick="open_link('/map/');" ><i class="fa fa-toggle-on"></i>矢量标绘</a>
                              </li>
                            <li> <a href="notification.html"><i class="fa fa-bell "></i>地物识别</a> </li>
                            <li>
                                <a href="javascript:void(0)" onclick="open_link('/roller_shutters/'); "> <i class="fa fa-toggle-on"></i>变化感知</a>
                            </li>
                        </ul>
                    </li>

                     <li><a href="#"><i class="fa fa-yelp "></i>资源管理<span class="fa arrow"></span></a>
                       <ul class="nav nav-second-level">
                            <li>
                                <a  href="javascript:void(0)" onclick="open_link('/resource_search/');"><i class="fa fa-flash "></i>资源查询</a>
                            </li>
                             <li>
                                <a href="component.html"><i class="fa fa-key "></i>地图下载</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-yelp "></i>违建管理<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="invoice.html"><i class="fa fa-coffee"></i>违建影像对比</a>
                            </li>
                            <li>
                                <a href="pricing.html"><i class="fa fa-flash "></i>违建信息管理</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-yelp "></i>拆迁管理<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="panel-tabs.html"><i class="fa fa-toggle-on"></i>拆迁影像对比</a>
                            </li>
                            <li>
                                <a href="notification.html"><i class="fa fa-bell "></i>拆迁管理</a>
                            </li>
                        </ul>
                    </li>

                     <li>
                        <a href="#"><i class="fa fa-yelp "></i>账户管理<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="javascript:void(0)" onclick="open_link('/account_inquiry/');"><i class="fa fa-toggle-on"></i>账户查询</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="open_link('/add_account/');"> <i class="fa fa-bell "></i>新增账户</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="open_link('/permissions_query/');"><i class="fa fa-bell "></i>权限查询</a>
                            </li>
                             <li>
                                <a href="javascript:void(0)" onclick="open_link('/authority_management/');"></i>权限管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-yelp "></i>个人中心<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="javascript:void(0)" onclick="open_link('/info_revise/');"><i class="fa fa-toggle-on"></i>个人信息</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="open_link('/password_revise/');"><i class="fa fa-bell "></i>密码重置</a>
                            </li>
                        </ul>
                    </li>


                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <style>
            html,body,#map{
            padding:0;
            margin:0;
            height:0;
            }
        </style>
        <div id="page-wrapper" style="margin:0 0 0 260px">
            <div>
                <iframe id="context_container"  frameborder="0" scrolling="no" style="width: 100%; height: 1110px;">
                </iframe>
            </div>
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->


    <div id="footer-sec">
        Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="遥感图像">遥感图像</a> - Collect from <a href="http://www.cssmoban.com/" title="遥感图像" target="_blank">遥感图像</a>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
