<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8087/library/3.23/3.23/dijit/themes/tundra/tundra.css"/>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8087/library/3.23/3.23/esri/css/esri.css" />
<!--    <script type="text/javascript" src="http://127.0.0.1:8087/library/3.23/3.23/init.js"></script>-->
    <script src="http://js.arcgis.com/3.9/"></script>

    <script src="{% static 'js/mainmap.js' %}"></script>
    <script src="{% static 'js/drawplot.js' %}"></script>
</head>
<body>
<div id="map"></div>
</body>
</html>