

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      {% load staticfiles %}
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>注册页面</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'css/bootstrap.css'  %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
   <link href="{% static 'css/font-awesome.css'  %}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
   <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
   <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

<script>
$().ready(function() {
// 在键盘按下并释放及提交后验证提交表单
  $("#signupForm").validate({
    rules: {
      username: {
        required: true,
        minlength: 2
      },
      password1: {
        required: true,
        minlength: 5
      },
      password2: {
        required: true,
        minlength: 5,
        equalTo: "#password"
      }

    },
    messages: {

      username: {
        required: "请输入用户名",
        minlength: "用户名必需由两个字母组成"
      },
      password1: {
        required: "请输入密码",
        minlength: "密码长度不能小于 5 个字母"
      },
      password2: {
        required: "请输入密码",
        minlength: "密码长度不能小于 5 个字母",
        equalTo: "两次密码输入不一致"
      }

     }
    })
});</script>



</head>
<body style="background-color: #E2E2E2;">
    <div class="container">

         <div class="row ">

                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

                            <div class="panel-body">
                                <form role="form"  action="/register_db/" method="post"  id="signupForm" >
                                    {% csrf_token %}
                                    <hr />
                                    <h3>请输入注册信息</h3>
                                       <br />
                                     <div class="form-group input-group">
                                             <span >用户名：</span><input type="text" id="username" name="username" class="form-control"  />
                                        </div>
                                         <div class="form-group input-group">
                                            <span >密码：</span><input type="password" id="password1" name="password1" class="form-control"   />
                                        </div>
                                    <div class="form-group input-group">
                                            <span >确认密码：</span><input type="password" id ="password2" name="password2" class="form-control"   />
                                        </div>

                                     <button type="submit" class="btn btn-primary ">注册</button>
                                     <button type="reset" class="btn btn-primary ">重置 </button>
                                    <hr />

                                    </form>
                                <p>{{ message1 }}</p>
                                <a href="/login/" >{{ message2 }}</a>
                            </div>

                        </div>


        </div>
    </div>

</body>
</html>