<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    {% load staticfiles %}



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>资源查询</title>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">
    <link href="{% static 'bootstrap-datetimepicker.min.css'  %}" rel="stylesheet" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

    <![endif]-->
    <style>
        .search-list {
            height:100%;
            width:20%;
            font-size:20px
        }
        .search-input {
            height:50%;
            min-height:34px;
        }
        .picture-span {
            margin-left:15px;
        }
        .operate {
            margin-left:10px;
        }
    </style>
</head>
<body style="height:100%">
    <div class="compare container" style="background-color:white; display:inline-flex; width:100%; height:10%; min-height:50px">
        <div class="row" style="width: 100%; display:-webkit-flex; align-items:center; height:100%;">
            <div class="col-xs-12 col-lg-12">
                <form role="form" name="compareForm" action="" method="post" style="width:100%; font-size:14px; height:100%; margin-left:15px;">
                    <div style="display:inline-flex; align-items:center; width:95%">
                        <div style="width:93%">
                            <span class="picture-span" style="margin-left:0;">时间：</span>
                            <input type='date' class="nowdate search-input"/>
                            <span class="picture-span">种类：</span>
                            <select class="search-input">
                                <option value="请选择卫星种类">请选择卫星种类</option>
                                <option value="高分2号">高分2号</option>
                                <option value="高景1号">高景1号</option>
                            </select>
                            <span class="picture-span">时间：</span>
                            <input type='text' class="search-input" placeholder="请输入关键字"/>
                        </div>
                        <div style="width:7%">
                            <span style="height:100%; display:-webkit-flex; align-items:center; width:100%;">
                                <button class="btn btn-primary" style="border-radius:6px; height:50%; width:100%; min-height:34px; font-size:14px" id="gra_btn" ><img src="{% static 'img/search.png' %}" style="padding-left:5px;">搜索</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container" style="width:100%">
        <div class="row" style="width:100%; height:100%;">
            <div class="col-xs-12 col-lg-12" style="height:100%">
                <div id="list-search-result" style="width:95%;margin-left:15px;">
                    <table id="resource_tab" border="0" cellspacing="0" cellpadding="0" class="table"></table>
                    <p>{{message}}</p>
                </div>
            </div>
        </div>
    </div>

    <!--<div id="globe-search-result"></div>-->
    <!--<div id="list-search-result" style="width:95%">-->
        <!--<table id="resource_tab" border="0" cellspacing="0" cellpadding="0" class="table"></table>-->
        <!--<p>{{message}}</p>-->
    <!--</div>-->
    <!--<div class="col-xs-0 col-lg-0"></div>-->
    <!--<footer></footer>-->
    <script >
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
    </script>
    <script>var sourceMaps={{ sourceMaps|safe }};</script>
    <script>var localMaps={{ localMaps|safe }}</script>
    <script src="{% static 'js/resourceManagement.js' %}"></script>
</body>
</html>