<!DOCTYPE html>
<html>
<head>
    <title>地图卷帘效果</title>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.4/css/ol.css" type="text/css">
    <script src="https://openlayers.org/en/v4.6.4/build/ol.js"></script>
    <style>
        body{
            overflow: hidden;
        }
        html,body,.map{
            width: 100%;
            height: 100%;
            position:absolute;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

    </style>
</head>
<body>
<div id="map_1" class="map"></div>
<div id="map_2" class="map "></div>
<script>
    var map_1 =  map = new ol.Map({
        target:"map_1",
        view:new ol.View({
            projection: "EPSG:4326",
            //center:[115.7555794477557, 22.6070466884657],
            center: [102.56, 24.42],
            zoom:15
        }),
        layers:[
            new ol.layer.Tile({source:new ol.source.OSM()})
        ]
    });
    var map_2 =  map = new ol.Map({
        target:"map_2",
        view:map_1.getView(),
        layers:[
            new ol.layer.Tile({
                source: new ol.source.XYZ({
                    url:'http://t3.tianditu.cn/DataServer?T=img_w&X={x}&Y={y}&L={z}'
                }),
                projection: "EPSG:4326",
                id:"影像"
            })
        ]
    });
    document.getElementById('map_2').onmousemove=function(e){
        console.log(e);
        e.stopPropagation();
        var  offsetX=e.x,offsetY=e.y,width=document.body.clientWidth,height=document.body.clientHeight;
        document.getElementById('map_2').style.clip='rect(0px,'+offsetX+'px,'+height+'px,0px)';
    }
    document.getElementById('map_1').onmousemove=function(e){
        console.log(e);
        e.stopPropagation();
        var  offsetX=e.x,offsetY=e.y,width=document.body.clientWidth,height=document.body.clientHeight;
        document.getElementById('map_2').style.clip='rect(0px,'+offsetX+'px,'+height+'px,0px)';
    }
</script>
</body>
</html>